 {{#if log}}
    <div id="cont1" class="cont">
        <img class="img_cont" id="home1" src="./img/mao_no_bolso.jpg" alt="logo da marca da empresa">    
        <p>Acessórios elegantes para complementar desde os seus trajes casuais até os seu trajes mais formais </p>
    </div>
    <br>
    <div id="cont2" class="cont">
        <p>Peças únicas do mundo da relojoaria de luxo, nacionais e importadas com certificado de autenticidade</p>
        <img class="img_cont" id="home2" src="./img/homem.jpg" alt="logo da marca da empresa">    
    </div>
{{else}}
    <div class="desc" id="back">
        <h1>Seja muito bem vindo a WatchWizard</h1>
        <br>
        <div class="desc2">
            <div class="desc">
                <h2>Já tem uma conta?</h2>
                <br>
                <button><a href="/login"></a>Fazer Login</button>
            </div>
            <br>
            <div class="desc">
                <h2>É novo aqui?</h2>
                <br>
                <button><a href="/login"></a>Cadastre-se</button>
            </div>
        </div>
    </div>
{{/if}}