@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mohave:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-shadow: inset ;
}

/* ----------------Header------------------ */

header{
    background-color: #5B85AA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 75px;
}

#logo{
    transform: scale(.6);

}

#logo:hover{
    filter: invert(91%) sepia(15%) saturate(63%) hue-rotate(51deg) brightness(97%) contrast(92%);
    transition: 300ms;
}

.menu_itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.menu_itens a{
    text-decoration: none;
    position: relative;
    color: #DCE0D9;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu_itens a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.menu_itens a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.icons{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    transform: scale(.3);
}

.icons a{
  width: 100px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#user{
    position: absolute;
    font-size: 2.5rem;
    left: 270px;
    bottom: -25px;
    color: #DCE0D9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cart:hover, #profile:hover{
    filter: invert(91%) sepia(15%) saturate(63%) hue-rotate(51deg) brightness(97%) contrast(92%);
    transition: 300ms;
}
/* ----------------Main------------------ */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebecec;
}

.cont{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#home1, #home2{
    border-radius: 5rem;
}

.cont p{
    font-size: 2rem;
    text-align: center;
    font-family:  Georgia;
    -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  .desc{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }
  #back{
  background-color: #5B85AA;
  border-radius: 15px;
  box-shadow: 8px 5px 3px black;
  color: #DCE0D9;
  font-size: 1rem;
  font-weight:lighter;
  font-family: 'Comfortaa';

}
  .desc2{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;

}


#cont1{
    background-image: linear-gradient(#476596, #DCE0D9, #DCE0D9, #476596);
    border-radius: 5rem;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 400ms;
}

#cont1:hover{
    background-size: 100% 100%;
}

#cont2{
    background-image: linear-gradient(#748c8c, #d8dae6, #748c8c00, #d8dae6, #748c8c);
    border-radius: 5rem;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 400ms;
    background-position: right;
}

#cont2:hover{
    background-size: 100% 100%;
}


/* ----------------footer------------------ */

footer{
    background-color: #5B85AA;
}

.foot_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot_block2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foot{
    font-size: 1.5rem;
    font-family: Georgia;
    margin: 1rem;
}



@media(max-width: 414px){
  header{
    height: 10rem;
  }
  .menu_itens{
    flex-direction: column;
    align-items: flex-end;
  }
  .menu_itens a{
      font-size: 1.1rem;
  }
  .mobile_menu{
    display: inline;
  }
  .cont p{
    padding: 1REM;
    font-size: .9rem;
  }
  .icons{
    display: none;
  }
  .cont{
    flex-direction: column;
  }
  .foot{
    font-size: .6rem;
  }
}